/* Ajuste del margen inferior del formulario de reserva */
.booking {
    padding: 20px;
    text-align: center;
    margin-bottom: 70px; /* Crear espacio entre el formulario de reserva y el footer */
}

.booking h2 {
    margin-bottom: 20px;
    color: #333;
}

.booking form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.booking label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.booking input[type="date"],
.booking input[type="time"],
.booking select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.booking input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking input[type="submit"]:hover {
    background-color: #555;
}



